In [5]:
from faker import Faker
fake_names= Faker()

names = [fake_names.name().split() for i in range(100)]
names = [name for name in names if len(name)==2]
names

[['Aaron', 'Zimmerman'],
 ['Diane', 'Harvey'],
 ['Holly', 'Harris'],
 ['Sierra', 'Dickerson'],
 ['Marie', 'Zimmerman'],
 ['Jared', 'Adams'],
 ['Maria', 'Williams'],
 ['Lauren', 'Bowman'],
 ['Christina', 'Erickson'],
 ['Felicia', 'Parker'],
 ['Zachary', 'Wilson'],
 ['Matthew', 'Friedman'],
 ['Jacob', 'Grimes'],
 ['Tyler', 'Patel'],
 ['Angela', 'Jones'],
 ['Timothy', 'Warren'],
 ['Anthony', 'Obrien'],
 ['James', 'Butler'],
 ['Sandra', 'Williams'],
 ['Mark', 'Thompson'],
 ['Andrea', 'Drake'],
 ['Kenneth', 'Moses'],
 ['Cindy', 'Wallace'],
 ['Matthew', 'Hamilton'],
 ['Nicole', 'Daniel'],
 ['Stephanie', 'Bishop'],
 ['Malik', 'Diaz'],
 ['Catherine', 'Greene'],
 ['Patricia', 'Watson'],
 ['Michele', 'Barber'],
 ['Cindy', 'James'],
 ['Kelsey', 'Butler'],
 ['Lisa', 'Garcia'],
 ['Taylor', 'Velasquez'],
 ['Michael', 'Nguyen'],
 ['John', 'Morton'],
 ['Willie', 'Chase'],
 ['Derrick', 'Wilson'],
 ['Melissa', 'Drake'],
 ['Sydney', 'Perkins'],
 ['Gregory', 'Cook'],
 ['Rebecca', 'Stephenson'],
 ['Michael', 'Stein'],
 ['Jennifer', 'Powell'],
 ['Amy', 'Smith'],
 ['Laura', 'Richardson'],
 ['Andrew', 'Oliver'],
 ['Andrew', 'French'],
 ['Miranda', 'Fleming'],
 ['Charles', 'Martinez'],
 ['Jay', 'Clark'],
 ['Jennifer', 'Miles'],
 ['Karina', 'Clark'],
 ['Rebecca', 'Byrd'],
 ['Joseph', 'Thomas'],
 ['Kyle', 'Moore'],
 ['Christopher', 'Hobbs'],
 ['Bryan', 'Roberts'],
 ['Timothy', 'Smith'],
 ['Amanda', 'Johnson'],
 ['Marc', 'Foley'],
 ['Aaron', 'Moore'],
 ['Mike', 'Nelson'],
 ['Alicia', 'Armstrong'],
 ['Christopher', 'Campbell'],
 ['Michael', 'Baker'],
 ['Nicole', 'Farley'],
 ['Matthew', 'Ray'],
 ['Cody', 'Welch'],
 ['William', 'Leonard'],
 ['Sarah', 'Yoder'],
 ['Carrie', 'Davenport'],
 ['Jennifer', 'Mason'],
 ['Michelle', 'Robinson'],
 ['Destiny', 'Hines'],
 ['Misty', 'Crawford'],
 ['Autumn', 'Johnson'],
 ['Aaron', 'Davies'],
 ['Charles', 'Knight'],
 ['Kayla', 'Andrews'],
 ['Lee', 'Herrera'],
 ['Ross', 'Jones'],
 ['Kathryn', 'Lucas'],
 ['Stephen', 'Wilson'],
 ['Rachel', 'Chavez'],
 ['Earl', 'Rodriguez'],
 ['John', 'Booth'],
 ['Bill', 'Nunez'],
 ['Matthew', 'Moreno'],
 ['Heather', 'Castillo'],
 ['Carolyn', 'Sanchez'],
 ['Erika', 'Hood'],
 ['Meghan', 'Garza'],
 ['James', 'Smith'],
 ['Christopher', 'Johnson']]

In [12]:
import sqlite3

connection = sqlite3.connect('sample.db')

In [13]:
insert_query = 'INSERT INTO people(name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)

connection.commit()

In [15]:
select_query = 'Select * from people limit 10'

output= cursor.execute(select_query)
for i in output:
    print(i)

(1, 'Aaron', 'Zimmerman')
(2, 'Diane', 'Harvey')
(3, 'Holly', 'Harris')
(4, 'Sierra', 'Dickerson')
(5, 'Marie', 'Zimmerman')
(6, 'Jared', 'Adams')
(7, 'Maria', 'Williams')
(8, 'Lauren', 'Bowman')
(9, 'Christina', 'Erickson')
(10, 'Felicia', 'Parker')